.navbar_cont {
    top: 0px;
    // position: absolute;
}
.expert_btn {
    position: fixed !important;
    pointer-events: none;
    bottom: 100px;
    right: 20px;
    background-color: var(--msg-outboundMsg);
    border-radius: 2rem;
    &:hover {
        @apply bg-orange-950;
    }
    z-index: 99999;
}

.nav_btn {
    @apply h-[46px] text-sm   justify-center items-center border-black uppercase font-medium tracking-wider hover:bg-black;
}
