.btn {
    @apply w-fit px-10 uppercase tracking-wider;
    &.btn-outline {
        @apply hover:bg-black hover:text-white;
    }
    &.btn-white {
        @apply bg-white border-0 hover:bg-gray-300 transition-all duration-200;
        &.btn-outline {
            @apply border-white text-white hover:bg-gray-700;
        }
    }

    &.btn-primary {
        @apply hover:text-primary hover:bg-gray-100;
    }

    &.btn-accent {
        @apply text-white border-black;
        &:hover {
            @apply bg-black;
        }
    }

    &.btn-lg {
        @apply min-h-[56px] h-[56px] text-[14px];
    }
    &:disabled {
        @apply bg-gray-200 text-black;
    }
}

.container {
    max-width: 1560px;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (max-width: 1580px) {
        @apply px-12;
    }
    @media only screen and (max-width: 1280px) {
        @apply px-12;
    }
    @media only screen and (max-width: 780px) {
        @apply px-6;
    }
    @media only screen and (max-width: 480px) {
        @apply px-4;
    }
}

.py-container {
    @apply py-24;

    @media only screen and (max-width: 1280px) {
        @apply py-20;
    }
    @media only screen and (max-width: 780px) {
        @apply py-12;
    }
    @media only screen and (max-width: 480px) {
        @apply py-8;
    }
}

.cont {
    @apply flex flex-col;
    &__py {
        @apply py-20;
    }
    &__gap {
        @apply gap-6;
    }
    &__w {
        @apply lg:w-[800px] w-full;
    }
}

.tooltip-error {
    --tooltip-color: #4b4b4b;
    --tooltip-text-color: white;
}

.text-link {
    color: #4485f2;
}
.text-6xl {
    line-height: 81px !important;
}
.searchWrapper {
    @apply lg:w-1/3 sm:w-2/3 w-full bg-white px-3 py-2 min-h-[46px] flex flex-wrap gap-1 items-center hover:shadow-lg;
    min-height: 46px !important;
    padding-left: 12px !important;
    .chip {
        @apply bg-accent  px-2;
    }
    .searchBox {
        @apply text-gray-600 text-sm;
    }
}
.optionListContainer {
    // display: block !important;
    // @apply w-[200px];
    max-width: fit-content;
    .optionContainer {
        width: 300px !important;
        .option {
            @apply px-2 py-2  hover:bg-gray-300 hover:text-gray-800;
            &.highlightOption {
                @apply bg-accent text-white;
            }
        }
    }
}

.btn.btn-disabled,
.btn:disabled {
    @apply text-gray-500;
}

.collapse:not(.collapse-close):has(> input[type='radio']:checked) {
    @apply border;
    .collapse-title {
        background-color: #f5f5f5;
        color: #000;
    }
}

.feature_grid {
    background-image: url('/assets/img/program_feature_grid.png');
    background-position: center center;
    .grid-block {
        @apply transition-all duration-200;
        border: 1px solid rgb(135, 135, 135);
        &:hover {
            background: #00000025;
        }
    }
}

$button-transition-timing: 100ms;

.link-btn {
    @apply flex items-center gap-1 w-fit;

    .arrow-icon {
        overflow: visible;
        margin-left: 3px;
        width: 8px;
    }

    .arrow-head {
        transform: translateX(0);
        transition: transform $button-transition-timing ease-in-out;
    }

    .arrow-body {
        opacity: 0;
        transform: scaleX(1);
        transition:
            transform $button-transition-timing ease-in-out,
            opacity $button-transition-timing ease-in-out;
    }

    &:hover {
        // color: var(--link-color);
        .arrow-head {
            transform: translateX(3px);
        }

        .arrow-body {
            opacity: 1;
            transform: scaleX(2);
        }
    }

    &.hide-ico {
        .arrow-icon {
            transition: all $button-transition-timing ease-in-out;
            opacity: 0;
        }
    }
}

.LinkButtonCard:hover .link-btn {
    .arrow-head {
        transform: translateX(5px);
    }

    .arrow-body {
        opacity: 1;
        transform: scaleX(3);
    }

    &.hide-ico {
        & .arrow-icon {
            opacity: 1;
        }
    }
}

.feature_block .icon__dark,
.feature_block:hover .icon__light {
    display: block;
}
.feature_block:hover .icon__dark,
.feature_block .icon__light {
    display: none;
}
