.btn {
    @apply w-fit px-10 uppercase tracking-wider;

    &.btn-white {
        @apply border-white text-white hover:bg-gray-700;
    }

    &.btn-primary {
        @apply hover:text-primary hover:bg-gray-100;
    }

    &.btn-accent {
        @apply text-white;
    }
    &:disabled {
        @apply bg-gray-200 text-black;
    }
}

.flex-col {
    @apply flex;
}

.container {
    max-width: 1560px;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (max-width: 1580px) {
        @apply px-12;
    }
    @media only screen and (max-width: 1280px) {
        @apply px-12;
    }
    @media only screen and (max-width: 780px) {
        @apply px-6;
    }
    @media only screen and (max-width: 480px) {
        @apply px-4;
    }
}

.py-container {
    @apply py-24;

    @media only screen and (max-width: 1280px) {
        @apply py-20;
    }
    @media only screen and (max-width: 780px) {
        @apply py-12;
    }
    @media only screen and (max-width: 480px) {
        @apply py-8;
    }
}

.cont {
    @apply flex flex-col;
    &__py {
        @apply py-20;
    }
    &__gap {
        @apply gap-6;
    }
}

.tooltip-error {
    --tooltip-color: #4b4b4b;
    --tooltip-text-color: white;
}

.text-link {
    color: #4485f2;
}
.text-6xl {
    line-height: 81px !important;
}
.searchWrapper {
    @apply lg:w-1/3 sm:w-2/3 w-full bg-white px-3 py-2 min-h-[46px] flex flex-wrap gap-1 items-center hover:shadow-lg;
    min-height: 46px !important;
    padding-left: 12px !important;
    .chip {
        @apply bg-accent  px-2;
    }
    .searchBox {
        @apply text-gray-600 text-sm;
    }
}
.optionListContainer {
    // display: block !important;
    // @apply w-[200px];
    max-width: fit-content;
    .optionContainer {
        width: 300px !important;
        .option {
            @apply px-2 py-2  hover:bg-gray-300 hover:text-gray-800;
            &.highlightOption {
                @apply bg-accent text-white;
            }
        }
    }
}

.btn.btn-disabled,
.btn:disabled {
    @apply text-gray-500;
}

.collapse:not(.collapse-close):has(> input[type='radio']:checked) {
    @apply border;
    .collapse-title {
        background-color: #f5f5f5;
        color: #000;
    }
}

.feature_grid {
    background-image: url('/assets/img/program_feature_grid.png');
    background-position: center center;
}
