@font-face {
    font-family: 'Times Now';
    src: url('../../public/fonts/times-now/TimesNow-Light.woff');
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Inter', serif;
    color: #252525;
}

.h1 {
    @apply md:text-6xl text-4xl font-normal;
    font-family: 'Times Now';
    line-height: 1.1em;
    &__b {
        @apply font-bold;
    }
}
.h2 {
    @apply md:text-3xl text-2xl;
    font-family: 'Times Now';
}
.sub {
    &__h1 {
        @apply text-xl;
        line-height: 1.2em;
    }
    &__h2 {
        @apply md:text-lg;
        line-height: 1.2em;
    }
}
.font-base {
    font-family: 'Inter', serif;
}

//Text Color
.text-grey {
    color: #8f9396;
}
