@font-face {
    font-family: 'Times Now';
    src:
        url('../../public/fonts/times-now/TimesNow-Light.woff') format('woff');
    font-style: normal;
    font-weight: 400; /* Light */
}

// @font-face {
//     font-family: 'Times Now';
//     src: url('../../public/fonts/times-now/TimesNow-SemiBold.woff') format('woff');
//     font-style: normal;
//     font-weight: 600; /* Regular */
// }

// @font-face {
//     font-family: 'Times Now';
//     src: url('../../public/fonts/times-now/TimesNow-Bold.woff') format('woff');
//     font-style: normal;
//     font-weight: 800; /* Bold */
// }
// @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Inter', serif;
    color: #252525;
}

.h1 {
    @apply md:text-6xl text-4xl ;
    font-family: 'Times Now';
    line-height: 1.1em;
    font-weight: 400;
    &__b {
        font-weight: 400;
    }
}
.h2 {
    @apply md:text-3xl text-2xl;
    font-family: 'Times Now';
}
.sub {
    &__h1 {
        @apply text-xl;
        line-height: 1.2em;
    }
    &__h2 {
        @apply md:text-lg;
        line-height: 1.2em;
    }
}
.font-base {
    font-family: 'Inter', serif;
}

//Text Color
.text-grey {
    color: #8f9396;
}
