@font-face {
    font-family: 'Times Now';
    src: url('../../public/fonts/times-now/TimesNow-Light.woff');
    font-style: normal;
}

.h1 {
    @apply text-5xl font-bold;
}

.sub {
    &__h1 {
        @apply text-xl;
    }
}
