//tailwind imports
@tailwind base;
@tailwind components;
@tailwind utilities;

//check import file for imports
@import 'import';
.heading {
    font-family: 'Times Now';
    color: #252525;
}

.border-05 {
    border: 0.5px solid #252525 !important;
}

.font-family-times-now {
    font-family: 'Times Now';
}
.toggle:checked {
    @apply bg-black text-white;
}

.toggle:checked + .font-semibold.text-md {
    @apply text-white;
}
.casestudy_img {
    // height: 295px!important;
    // overflow: hidden;
    img {
        height: 100%;
        max-width: none;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.signup_img {
    // height: 400px !important;
    img {
        height: 100%;
    }
}
.pagination {
    display: flex;
    @apply gap-3 mx-auto items-center;

    .active {
        @apply bg-slate-300 px-1;
    }
}

.collapse:not(.collapse-close):has(> input[type='radio']:checked) .collapse-title {
    background: none;
}
// temp{
#interfaceEmbed {
    display: none !important;
    opacity: 0;
    height: 0px !important;
}

.form-parent {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 500px;
    background-color: white;
    padding: 28px 0px;
    z-index: 999999;
    box-sizing: border-box;
}

.loginBtn_google {
    // button {
    //     margin: px !important;
    // }
}

.int-card-des:first-letter {
    text-transform: capitalize;
}

.wrapper {
    border-radius: 4px !important;
}
.gradient-background {
    background: linear-gradient(300deg, #a2ffe0, #ccd9fc, #fdcdf2, #fff1a9);
    background-size: 240% 240%;
    animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.rmsc {
    .dropdown-container {
        height: 44px;
        display: flex;
        @apply items-center;
    }
}
.jiMOeR {
    z-index: 99;
    @apply hover:shadow-md;
    .wrapper {
        box-shadow: none !important;
    }
}

.react-select-cont {
    div {
        position: relative;
        @apply w-full;
        input {
            @apply p-3 w-full;
        }
    }
}
.react-autosuggest-item {
    @apply py-1 px-3 flex gap-3 items-center cursor-pointer hover:bg-slate-200;
    img {
        width: 22px;
    }
}

.industry-autocomplete {
    div {
        input {
            @apply input w-full input-sm h-[36px] border-[#CCCCCC] flex items-center gap-2 bg-white;
        }
    }
}
