//tailwind imports
@tailwind base;
@tailwind components;
@tailwind utilities;

//check import file for imports
@import 'import';
.heading {
    font-family: 'Times Now';
    color: #252525;
}

.border-05 {
    border: 0.5px solid #252525 !important;
}

.font-family-times-now {
    font-family: 'Times Now';
}
.toggle:checked {
    @apply bg-black text-white;
}

.toggle:checked + .font-semibold.text-md {
    @apply text-white;
}
.casestudy_img {
    // height: 295px!important;
    // overflow: hidden;
    img {
        height: 100%;
        max-width: none;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.signup_img {
    // height: 400px !important;
    img {
        height: 100%;
    }
}
.pagination {
    display: flex;
    @apply gap-3 mx-auto items-center;

    .active {
        @apply bg-slate-300 px-1;
    }
}

.collapse:not(.collapse-close):has(> input[type='radio']:checked) .collapse-title {
    background: none;
}
// temp{
#interfaceEmbed {
    display: none !important;
    opacity: 0;
    height: 0px !important;
}

.form-parent {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 500px;
    background-color: white;
    padding: 28px 0px;
    z-index: 999999;
    box-sizing: border-box;
}

.loginBtn_google {
    // button {
    //     margin: px !important;
    // }
}

.int-card-des:first-letter {
    text-transform: capitalize;
}

.wrapper {
    border-radius: 4px !important;
}
.gradient-background {
    background: linear-gradient(300deg, #a2ffe0, #ccd9fc, #fdcdf2, #fff1a9);
    background-size: 240% 240%;
    animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.rmsc {
    .dropdown-container {
        height: 44px;
        display: flex;
        @apply items-center;
    }
}
.jiMOeR {
    z-index: 99;
    @apply hover:shadow-md;
    .wrapper {
        box-shadow: none !important;
    }
}

.react-select-cont {
    div {
        position: relative;
        @apply w-full;
        input {
            @apply p-3 w-full;
        }
    }
}
.react-autosuggest-item {
    @apply py-1 px-3 flex gap-3 items-center cursor-pointer hover:bg-slate-200;
    img {
        width: 22px;
    }
}

.industry-autocomplete {
    div {
        input {
            @apply input w-full input-sm h-[36px] border-[#CCCCCC] flex items-center gap-2 bg-white;
        }
    }
}

.version-link {
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: white;
    @apply uppercase tracking-wider;
}
.version-link::after {
    content: '';
    position: absolute;
    width: 120%;
    height: 1px;
    bottom: -2px;
    left: 50%;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
}
.version-link:hover::after {
    width: 40px;
}

.hero_gradient {
    background: linear-gradient(95.2deg, rgb(173, 215, 252) 26.8%, rgba(192, 229, 246, 1) 64%);
}

/* Base translation for larger screens (X-axis) */
.custom-translate {
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  
  /* For screens smaller than 640px (sm), use translateY */
  @media (max-width: 639px) {
    .custom-translate {
      transform: translateY(var(--translate-value));
      -webkit-transform: translateY(var(--translate-value));
      -moz-transform: translateY(var(--translate-value));
      -ms-transform: translateY(var(--translate-value));
      -o-transform: translateY(var(--translate-value));
    }
  }
  
  /* For larger screens, use translateX */
  @media (min-width: 640px) {
    .custom-translate {
      transform: translateX(var(--translate-value));
    }
  }
  