.input {
    &::placeholder {
        @apply text-gray-500 uppercase tracking-wider text-sm font-semibold;
    }
}
.appsgrid {
    @apply grid  grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 border-black border border-b-0;
    @media (max-width: 1025px) {
        @apply border-r-0;
    }
    @media (min-width: 1025px) {
        @apply border-r-0;
    }
}

.app {
    @apply flex flex-col sm:py-9 py-6 sm:px-6 px-4 border-black border border-t-0 border-l-0 gap-2 bg-[#FAFAFA] hover:text-white hover:bg-black;

    &__des {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        &::after {
            content: '...';
        }
    }
}
